ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
    width: 100%;
    align-items: stretch;
}

.car-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    list-style: none;
    background-color: rgb(58, 58, 58);
    margin: 10px;
    flex: 1 1 300px;
    max-width: calc(33% - 16px);
    display: flex;
    flex-direction: column;
}

.car-card canvas {
    width: 100%;
    height: 180px;
    border-radius: 4px;
}

.car-card-content {
    flex: 1;
}

.car-card-footer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.car-card--detail {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.car-card--detail canvas {
    display: block;
    width: 450px;
    height: 270px;
}